html
	head
		title= "Timestamp api"
	body
		h1="API Basejump: Timestamp microservice"
		div
			h3="Example Usage:"
			div
				code="http://thisstite.com/july%207,%201977"
			div
				code="http://thisstite.com/234489600000"
		div
			h3= "Example Output"
			p
				code
					='{"unix": 234489600000, "natural": "June 07, 1977"}'
		
		
			